.homepage {
    background: url("../../images/background-1.jpg");
    /* background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lonelyplanet.com%2Fusa%2Fyosemite-national-park&psig=AOvVaw3-BV2tMqBMIS5Vz5ff6XRX&ust=1637834548806000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMC0i6rfsPQCFQAAAAAdAAAAABAD); */
    background-color: lavender;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: block;
}

.homepage-text {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    padding-top: 200px;
}

.homepage-text h1 {
    font-size: 40px;
    font-weight: 100;
}