.homepage {
    background: image-url("background-1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: block; 
}

.homepage-text {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    padding-top: 250px;
    color: white
    
}

.homepage-text h1 {
    font-size: 45px;
    font-weight: 300;
}
