// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-index-header {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.photo-items {
    // height: 200px;
    // width: auto;
    // padding-right: 2px;
    flex-grow: 1;
    margin: .2rem;
    overflow: hidden;
    position: relative;
}

.photo-items img {
    display: block;
    min-width: 100%;
    height: 250px;
    object-fit: cover;
    transition-duration: 300ms;
}

.photo-items a:hover img {
    opacity: 0.75;
}

.photo-items:hover .photo-info {
    opacity: 1;
}

.photo-info {
    color: white;
    position: absolute;
    bottom: 8px;
    left: 16px;
    opacity: 0;
}   


.photo-index-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    // justify-content: center;
}

.photo-show-container {
    background-color: #212123;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.photo-show-img {
    display: block;
    max-height: 460px;
    max-width: 60%;
    padding-top: 20px;
}

.photo-show-title {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    // color: white;
    font-style: italic;
    margin-top: 20px;
    font-size: 15px;
}

.preview-img {
    display: block;
    max-height: 300px;
    max-width: 60%;
    // padding-top: 30px;
}

.upload-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    border-style: dotted;
    border-width: 2px;
    border-color: #94958B;
    margin-bottom: 50px;
    width: 750px;
    height: 550px;
}

.choose-photo-btn {
    // margin-top: 20px;
    padding-left: 65px;
    visibility: hidden;
}


.choose-album-btn {
    padding-top: 20px;
    padding-bottom: 20px;
}

.upload-container-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    // overflow: hidden;
}

.upload-photo-btn {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    background-color: #5297D5;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 13px;
    padding: 5px;
}

.upload-photo-btn:hover {
    opacity: 70%;
}

.upload-photo-btn-hidden {
    display: none;
}

.upload-form-header {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    cursor: pointer;
    font-style: italic;
}

.title-field {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-top: 15px;
    width: 203px;
}

.title-field-hidden {
    // visibility: hidden;
    display: none;
}

.select-boxes {
    margin-top: 10px;
}

.select-boxes-hidden {
    display: none;
}

.profile-photo-index {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.profile-photo-index-items {
    flex-grow: 1;
    margin: .2rem;
    overflow: hidden;
}

.profile-photo-index-items img{
    display: block;
    min-width: 100%;
    height: 250px;
    object-fit: cover;
    transition-duration: 300ms;
}

.delete-photo{
    // float: right;
    margin-top: 25px;
    cursor: pointer;
    // align-self: flex-end;
    margin-right: 25px;
    // float: right;
}

.delete-photo-hidden{
    visibility: hidden;
}

.back-to-home-btn{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: white;
    background-color: #212123;
    // width: 100%;
    text-decoration: none;
    padding-left: 70px;
    padding-top: 20px;
    font-size: 13px;
    float: left;
}

.back-to-home-btn:hover{
    text-decoration: underline;
}

.back-arrow-icon{
    width: 25px;
    height: 25px;
    float: left;
}

.back-text{
    float: left;
    padding-top: 6px;
    padding-left: 6px;
}

.back-text:hover{
    text-decoration: underline;
}

.photo-back-link-container{
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.photo-items:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.create-album-link {
    text-align: center;
    margin-top: 10px;
}

.create-album-link-hidden {
    display: none;
}

.album-link {
    margin-left: 3px;
    text-decoration: none;
    color: cadetblue;
}

.photo-show-container-2 {
    display: flex;
    justify-content: space-around;
}

.photo-show-container-2-col-1 {
    width: 40%
}

.photo-show-username {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}