// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-index-header {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.photo-items {
    height: 200px;
    width: auto;
    padding-right: 2px;
}

.photo-index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}