.profile-container {
    
}

.profile-header {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding: 30px 30px 5px 30px;
    background-color: #1A2633;
    margin-bottom: 5px;
    color: white;
    padding-left: 200px;
    font-style: italic;
}

.profile-nav-bar {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.profile-nav-bar-photostream {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    display: block;
    text-decoration: none; 
    color: black;
    margin-right: 20px;
    padding: 14px 16px;
    border-bottom: 3px solid #3F8FD6;
}

.profile-nav-bar-albums {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    display: block;
    text-decoration: none; 
    color: black;
    margin-left: 20px;
    padding: 14px 16px;
    border-bottom: 3px solid transparent;
}

.profile-nav-bar-albums:hover {
    transition: all 0.3s ease 0s;
    border-bottom: 3px solid #3F8FD6;
}

.album-nav-bar-photostream{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    display: block;
    text-decoration: none; 
    color: black;
    margin-right: 20px;
    padding: 14px 16px;
    border-bottom: 3px solid transparent;
}

.album-nav-bar-photostream:hover{
    transition: all 0.3s ease 0s;
    border-bottom: 3px solid #3F8FD6;
}

.album-nav-bar-albums{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    display: block;
    text-decoration: none; 
    color: black;
    margin-left: 20px;
    padding: 14px 16px;
    border-bottom: 3px solid #3F8FD6;
}


.profile-body {
    display: block;
    margin: 200px;
    background-color: lightgray;
}

.profile-nav-bar-new-albums-btn {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    text-decoration: none; 
    color: white;
    background-color: #5297D5;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
    padding: 5px;
}

.profile-nav-bar-new-albums-btn:hover {
    opacity: 80%;
}


.profile-album-header {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    text-decoration: none; 
    color: black;
    margin-bottom: 10px;
    
}

.profile-album-header-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 20px;
}