.form-container-login{
    width: 200px;
    padding: 40px;
    position: absolute;
    background: lightgray;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    
}

.form-container-signup{
    width: 200px;
    padding: 40px;
    position: absolute;
    background: lightgray;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.error-message {
    color: red;
}