.nav-bar-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 5px 10px 5px;
    position:relative;
}

nav {
    background-color: #161618;
}

.login{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.logout{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.logo{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-right: auto;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}


.signup{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none; 
    color: black;
    font-size: 12px;
}

.loginButton{
    padding: 5px;
    background-color: white;
    border: none;
}

.logoButton{
    margin-right: auto;
    padding: 5px;
    background-color: white;
    border: none;
}

.signupButton{
    padding: 5px;
    margin-right: 15px;
    background-color: whitesmoke;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signupButton:hover {
    background-color: lightgray;
}


.demoButton {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding: 6px;
    margin-right: 10px;
    background-color: whitesmoke;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 12px;
}

.demoButton:hover {
    background-color: lightgray;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    padding-left: 10px;
}

.greeting{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-bottom: 3px;
}

.profile{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.upload{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.upload-img {
    height: 30px;
    width: 30px;
}